@model GalleryPhoto
@{
    ViewData["Title"] = "Create";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit The Employee</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="EditPhoto" method="post" enctype="multipart/form-data">
                     <div class="form-group">
                        <input asp-for="Id" class="form-control" type="hidden"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                         <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                                <label asp-for="ImageUpload" class="control-label"></label>
                                    <div class="custom-file">
                                        <input asp-for="ImageUpload" class="form-control" type="file" accept="image/png, image/jpg" />
                                    </div>
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            </div>
                 
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
               </form>

            </div>
        </div>
    </div>
</div>


